$primary-color:#036787;
$primary-color-light:#4b95b7;
$primary-color-dark:#003d5a;

$secondary-color:#fc7244;
$secondary-color-light:#ffa371;
$secondary-color-dark:#c34118;

$primary-color-text:#ffffff;
$secondary-color-text:#000000;